# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\daw\Measuring-Image-Distance\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
